@using MvcDemo.Models
@model IEnumerable<Cinema>

<div class="container">
    <div class="row">
        @await Component.InvokeAsync("CinemaCount")
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Capacity</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @Html.DisplayForModel()
            </tbody>
        </table>
        <a asp-action="Create">新增</a>
    </div>
</div>
