@using MvcDemo.Models
@model IEnumerable<Movie>

<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Starring</th>
                <th scope="col">ReleaseTime</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @Html.DisplayForModel()
            </tbody>   
        </table>
        <a asp-action="Create">新增</a>
    </div>
</div>
